{% extends 'manager/base.html' %}

{% block content %}

	<!-- Begin Page Content -->
	<div class="container-fluid">
	
	  <!-- Page Heading -->
	  <h1 class="h3 mb-2 text-gray-800">Customers</h1>
	
	  <!-- DataTales Example -->
	  <div class="card shadow mb-4">
	    <div class="card-header py-3">
	      <h6 class="m-0 font-weight-bold text-primary">Customer list</h6>
	      <a class="float-right" href="{% url 'customer_new' %}"><span class="fas fa-user-plus"></span></a>
	    </div>
	    <div class="card-body">
	      <div class="table-responsive">
	        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	          <thead>
	            <tr>
	              <th>Name</th>
	              <th>rank</th>
	              <th>company</th>
	              <th>department</th>
	              <th>mobile</th>
	              <th>telecom</th>
	              <th>email</th>
	              <th>enrolled date</th>
	            </tr>
	          </thead>
	          <tbody>
	          	{% for customer in customers %}
	          		<tr>
	          			<td><a href="{% url 'customer_detail' pk=customer.pk %}">{{ customer.name }}</a></td>	
	          			<td>{{ customer.rank }}</td>
	          			<td><a href="{% url 'company_detail' pk=customer.company.pk %}">{{ customer.company.name }}</a></td>
	          			<td>{{ customer.department }}</td>
	          			<td>{{ customer.mobile }}</td>
	          			<td>{{ customer.telecom }}</td>
	          			<td>{{ customer.email }}</td>
	          			<td>{{ customer.enrolled_date }}</td>
	          		</tr>
	          	{% endfor %}
	          </tbody>
	        </table>
	      </div>
	    </div>
	  </div>
	
	</div>
	    <!-- /.container-fluid -->
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
	  <i class="fas fa-angle-up"></i>
	</a>
	  <!-- Custom styles for this page -->

{% endblock %}