{% extends 'manager/base.html' %}

{% block content %}
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
		  <h1 class="h3 mb-0 text-gray-800">New License</h1>
		</div>
		
		<form method="POST" class="">
		{% csrf_token %}
			<div class="card mb-4 py-3 border-left-success">
				<div class="card-body">
					{% for field in form %}
						<div class="form-group">
							{{ field.errors }}
							{{ field.label_tag }}
							<div class="clo-sm-10">
								{{ field }}
							</div>
						</div>
					{% endfor %}
					<button type="submit" class="btn btn-success btn-icon-split">
						<span class ="icon text-white-50">
							<i class="far fa-save"></i>
						</span>
						<span class="text">Save</span>
					</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}