{% extends 'manager/base.html' %}

{% block content %}
	<!-- Begin Page Content -->
	<div class="container-fluid">
	
	  	<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Technical Registration</h1>
	
			<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Registration</h6>
			</div>
			<div class="card-body">
				<div class="col-md-12 col-sm-6 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form method="POST" class="">
								{% csrf_token %}
								<div class="table-responsive">
									<div class="form-group">
										<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
											<th colspan="10"><h5 class="font-weight-bold text-primary">Technical Support</h5></th>
											<tr>
												<th colspan="3">Company</th>
												<th>Customer name</th>
												<th>Support staff</th>
												<th>Support type</th>
												<th>Support date</th>
											</tr>
											<tr>
												<td colspan="3">{{ form.company }}</td>
												<td>{{ form.customer_name }}</td>
												<td>{{ form.support_staff }}</td>
												<td>{{ form.support_type }}</td>
												<td>{{ form.support_date }}</td>
											</tr>
											<tr>
												<th>Requestment</th>
												<td colspan="4">{{ form.requestment }}</td>
												<th>Answer</th>
												<td colspan="4">{{ form.answer }}</td>												
											</tr>
											

<!-- 											<th colspan="10"><h5 class="font-weight-bold text-primary">License</h5></th>
											<tr>
												<th>IP</th>
												<td>{{ licForm.ip }}</td>
												<th>Host</th>
												<td>{{ licForm.host }}</td>
												<th>Lum target</th>
												<td>{{ licForm.lum_target }}</td>
												<th>Dsls target</th>
												<td>{{ licForm.dsls_target }}</td>
												<th>Count</th>
												<td>{{ licForm.count }}</td>
											</tr>
											<tr>
												<th>Module</th>
												<td>{{ licForm.module }}</td>
												<th>Memo</th>
												<td>{{ licForm.memo }}</td>
												<th>Explaration date</th>
												<td>{{ licForm.explaration_date }}</td>
											</tr> -->
										</table>
										<button type="submit" class="btn btn-success btn-icon-split">
											<span class ="icon text-white-50">
												<i class="far fa-save"></i>
											</span>
											<span class="text">Save</span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- /.container-fluid -->
	
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
	  <i class="fas fa-angle-up"></i>
	</a>
{% endblock %}